extends layout

block content
  .inner
    form.form(action="/login" method="POST")
      h2 Login
      label(for="email") Email Address
      input(type="text" name="email")
      label(for="password") Password
      input(type="password" name="password")
      input.button(type="submit" value="Log in ➡")
    
    form.form(action="/account/forgot" method="POST")
      h2 I forgot my password!
      label(for="email") Email
      input(type="email" name="email")
      input.button(type="submit" value="Send a reset")